<div class="row">
  <div class="col-xs-12">
    <img
      [src]="playlist.imagePath"
      alt="{{ playlist.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ playlist.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Playlist <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToPrincipalList()" style="cursor: pointer;">To Principal List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditPlaylist()">Edit Playlist</a></li>
        <li><a style="cursor: pointer;" (click)="onDeletePlaylist()">Delete Playlist</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
   {{ playlist.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let song of playlist.songs">
        {{ song.name }} - {{ song.artist }}
      </li>
    </ul>
  </div>
</div>


